@import 'tailwindcss';
@import './styles/globals/variables.css';
@import './styles/globals/animations.css';
@import './styles/utils/gradients.css';
@import './styles/utils/form-elements.css';
@import './styles/utils/interactive-elements.css';
@plugin "@tailwindcss/typography";