.contentWrapper {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}

.outerBorder {
  position: absolute;
  inset: 0;
  border: 5px solid white;
  border-radius: 0.5rem;
  z-index: 1;
}

.innerBorder {
  position: absolute;
  inset: 5px;
  border: 2px solid black;
  border-radius: 0.5rem;
  z-index: 2;
}

.content {
  background: white;
  padding: 2rem;
  border-radius: 0.5rem;
  position: relative;
  z-index: 3;
  margin: 7px;
} 